.container1 {
    background-image: url("background.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size: cover;
}

.container2 {
    background-image: linear-gradient(to right bottom, red, blue);
    height: 400px;
}